h1{
    text-align:center;
    font-size:50px;
    }
    #link{
    text-align:center;
    font-size:30px;
    }
    th,td{
    border:3px solid black;
    text-align:center;
    font-size:30px;
    height:60px;
    width:65px;
    }
    table{
    border-collapse:collapse;
    margin:auto;
    }
    .pickedBG{
    background-color:#f66;
    }
    .bingo{
    background-color:gold;
    }